type sltntc_service, system_api_service, service_manager_type;
type sltntc_exec, exec_type, system_file_type, file_type;

init_daemon_domain(sltntc)
hal_client_domain(sltntc, hal_health)

add_service(sltntc, sltntc_service)

binder_call(sltntc, servicemanager)

allow sltntc sltntc_service:service_manager find;
rw_dir_file(sltntc, sysfs_virtual_temp)
